   new file:   .classpath
        new file:   .project
        new file:   .settings/org.eclipse.core.resources.prefs
        new file:   .settings/org.eclipse.jdt.core.prefs
        new file:   bin/channel/AlterChannelSimulation.class
        new file:   bin/channel/ChannelSimulation.class
